body {
  margin: 0 auto;
}
p {
  font-family: "Roboto", sans-serif;
  text-align: left;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 44px;
  margin: 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 34x;
}
h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
}
h4 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: lighter;
}
h5 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  margin: 0;
}
/*NAVBAR*/
header {
  margin: 0 auto;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.877); /* opacity */
  text-align: right;
  position: fixed;
  z-index:1; /*puts navbar on top*/
}
header ul {
  margin-right: auto;
  display: inline-block;
  list-style-type: none;
  padding-right: 1.6%; /*FIX ALL TO PX-DON'T USE PERCENTAGE FOR PADDING/MARGIN*/
  margin-top: 0;
  margin-bottom: 0;
}
header li {
  float: left;
  font-family: monospace;
  font-size: large;
  padding: 15px;
  padding-top: 20px;
}
.menu li:hover {
  color: #e067ac;
  transform: scale(1.2);
  transition: 0.5s ease;
}
header p {
  display: inline-block;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 23%; /*FIX ALL TO PX-DON'T USE PERCENTAGE FOR PADDING/MARGIN*/
  text-align: left;
  float: left;
  margin: 0;
}
.logo img {
  width: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 35px;
}

/* LOGO JQUERY*/
.logo img:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

/*HERO*/
.hero {
  background-color: whitesmoke;
}
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 95px;
  text-align: center;
}
.content img {
  height: 300px;
}
.content h1 {
  margin: 0;
}
.content p {
  margin-top: 10px;
  text-align: center;
}
.buttonResume {
  background-color: #f4c2de;
  fill-opacity: inherit;
  padding: 10px 18px;
  font-size: larger;
  border-color: transparent;
  border-radius: 50px;
  font-family: monospace;
  font-weight: bold;
  margin: 15px;
  box-shadow: 0 0px 12px 0 #9b9b9b;
}
/* RESUME BUTTON HOVER*/
.buttonResume:hover {
  border-color: black;
  border-style: dashed;
  background: linear-gradient(
    to top,
    #fdf7fb 0%,
    #fde4f2 5%,
    #f4e1fb 30%,
    #e8ecff 70%,
    #e6f0fc 85%,
    #e1f7fe 100%
  );
  transform: scale(1.1); 
  transition: 0.5s ease;
  box-shadow: 0 0px 12px 0 #9b9b9b;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  text-align: center;
  margin: -10px 0 10px 0;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* UX Skills Section */
.flexContainer {
  display: flex;
  /*padding: 0px 125px;*/
  background-color: white;
  align-items: top;
  justify-content: space-around;
  
}
#uxSkills {
  margin: 50px 100px;
}
#uxSkills h1 {
  margin-top: 50px;
}
.flexContainer h3 {
  margin-top: 30px;
}
.flexContainer p {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.flexContainer.appear p{
  opacity: 1;
  transform: translateX(0);
}
.flexContainer div {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-content: top;
  justify-content: stretch;
  width: 100%;
  min-width: 280px;
  margin-top: 20px;
}
.flexContainer div img {
  width: 100%;
  max-width: 300px;
  height: 215px;
  margin: 0 auto;
}
.flexContainer img {
  border: 10px black;
  padding: 15px;
}

/*.from-left {
  grid-column: 2 / 3;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.from-right {
  grid-column: 3 / 4;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}*/
.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

 /* TESTING FADING */
 .img1.appear, .img2.appear, .img3.appear {
  opacity: 1;
  transform: translateX(0);
}

.content1.appear, .content2.appear, .content3.appear {
  opacity: 1;
  transform: translateX(0);
}

/* My Work Section */

.myWork {
  padding: 30px 140px;
  background-color: whitesmoke;
}
.myWork h1 {
  margin-top: 15px;
  margin-bottom: 25px;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "img1 content1"
    "content2 img2"
    "img3 content3";
  align-items: top;
  padding: 0;
  z-index: 100;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
  padding: 50px;
 
}
.img2 {
  grid-area: img2;
  padding: 50px;
}
.img3 {
  grid-area: img3;
  padding: 50px;
  
}
.img1 img {
  max-width: 85%;
  height: auto;
}
.img1 img {
  opacity: 1;
  transform: translateX(0);
}
.img2 img {
  max-width: 85%;
  height: auto;
}
.img3 img {
  max-width: 85%;
  height: auto;
}
.content1 {
  grid-area: content1;
  padding: 50px 65px;
  background-color: #e8f1e5;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.content2 {
  grid-area: content2;
  padding: 50px 65px;
  background-color: #efe8f1;
  opacity:0;
  transition: opacity 1.5s ease-in-out;
}
.content3 {
  grid-area: content3;
  padding: 50px 65px;
  background-color: rgb(228, 235, 236);
  opacity:0;
  transition: opacity 1.5s ease-in-out;

}
.content1 button {
  background-color: #95ca8a;
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0 0px 12px 0 #9b9b9b;
}
.content2 button {
  background-color: #b89cc2;
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0 0px 12px 0 #9b9b9b;
}
.content3 button {
  background-color: rgb(119, 184, 204);
  padding: 7px 16px;
  font-size: large;
  border-color: transparent;
  border-radius: 30px;
  font-family: monospace;
  font-weight: bold;
  margin-top: 10px;
  box-shadow: 0 0px 12px 0 #9b9b9b;
}



/* CONTENT HOVER 
.content1:hover {
  opacity: 1.0;
  transform: scale(1.1); 
  transition: .5s ease;
}
.content2:hover {
  opacity: 1.0;
  transform: scale(1.1); 
  transition: .5s ease;
}
.content3:hover {
  opacity: 1.0;
  transform: scale(1.1); 
  transition: .5s ease;
}*/

/* PROJECT BUTTON HOVER */
.buttonProject:hover {
  border-color: black;
  border-style: dashed;
  background: linear-gradient(
    to top,
    #fdf7fb 0%,
    #fde4f2 5%,
    #f4e1fb 30%,
    #e8ecff 70%,
    #e6f0fc 85%,
    #e1f7fe 100%
  );
  transform: scale(1.1);
  box-shadow: 0 0px 12px 0 #9b9b9b;
  transition: 0.5s ease;
}



/* CONTACT FORM */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/*FOOTER*/
footer {
  background: linear-gradient(
    to bottom,
    whitesmoke 0%,
    #f4f9fc 18%,
    #f4e1fb 55%,
    #f4c2de 100%
  );
  width: 100%;
  display: inline-block;
  vertical-align: center;
}
footer ul {
  align-self: auto;
  display: inline-block;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
footer li {
  float: left;
  padding: 14px 14px;
}
footer img {
  width: 40px;
  display: flex;
  align-items: center;
  align-content: center;
}
footer button {
  border: transparent;
  margin: 0 auto;
  background: transparent;
}
footer p {
  float: right;
  margin-right: 45px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  text-size-adjust: smaller;
}

/* FOOTER ICON HOVER */
footer img:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

@media screen and (min-width: 621px) and (max-width: 1000px) {
  h3 {
    font-size: 1em;
  }
  p {
    font-size: 0.8em;
  }
  header {
    z-index: inherit 1;; /*puts navbar on top*/
  }
  .flexContainer div {
    min-width: 175px;
  }
  .flexContainer div img {
    width: 100%;
    max-width: 150px;
    height: 95px;
    margin: 0 auto;
  }
  .workGrid {
    margin-right: -100px;
    margin-left: -100px;
  }
  .workGrid div {
    min-width: 180px;
    padding: 15px;
  }
}
/* MOBILE MEDIA QUERY */
@media screen and (max-width: 620px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  p {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 20px;
  }
  header {
    z-index:1; /*puts navbar on top*/
  }
  .content {
    width: 75%;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 0;
    text-align: center;
  }
  .content button {
    background-color: #f4c2de;
    box-shadow: 0 0px 12px 0 #363636;
    fill-opacity: inherit;
    padding: 10px 20px;
    border-color: transparent;
    border-radius: 50px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 70px;
  }
  #uxSkills {
    margin: 40px 50px 40px 30px;
  }
  .flexContainer {
    flex-direction: column;
    justify-content: center;
  }
  .flexContainer div {
    width: 100%;
    margin: 0 auto;
  }
  .workGrid {
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-template-columns: auto;
    grid-template-areas:
      "img1"
      "content1"
      "img2"
      "content2"
      "img3"
      "content3";
    align-items: center;
  }
  .workGrid img {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin: 15px;
  }
  .workGrid {
    margin-right: -100px;
    margin-left: -100px;
  }
  .workGrid div {
    min-width: 180px;
    padding: 15px;
    margin: 15px;
  }

}
